html *
{
    font-size: 1em !important;
    /*!*color: #000 !important;*!*/
    font-family: Nunito, sans-serif;
    color:black;
    font-weight: bold;
}
.check-ability-label{
    border: 0;
    display: flex;
    padding: 2px;
    padding-right: 12px;
    margin-right: 10px;
}
.checkbox-ability{
    margin-left: 25px;
}
.img-circle {
    border-radius: 50%;
}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.col-md-9 {
    font-weight: bold;
    color: black;
}
.form-group.row {
    color: black;
}
#text-input {
    color: black;
}
/*#email-input {*/
/*    color: black;*/
/*}*/
/*#name_ar {*/
/*    color: black;*/
/*}*/
/*#phone {*/
/*    color: black;*/
/*}*/
.form-control {
    color: black;
}
