@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Montserrat', sans-serif !important;
}
.top_section {
    background-color: rgb(98,229,237);
    padding-top: 20px;
}
.logo {
    margin-bottom: 50px;
}
.logo img {
    width: 200px;
}
.intro {

}
.intro h2 {
    font-weight: 900;
    font-size: 55px;
    margin: 0 0 40px 0;
    padding: 0 !important;
    text-transform: uppercase;
    color: #FFF;
    line-height: 50px;
}
.intro p.lead {
    color: #FFF;
    font-weight: 500;
    margin-bottom: 50px;
}
.phone_image {
    position: relative;

}
.phone_image img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 250px;
}
.download_app {
    text-align: left;
    margin: auto;
}
.download_app a {
    margin: auto;
    width: 170px;
    text-align: left;
    display: block;
}
.download_app img {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
footer {
    margin-top: 70px;
}
.link{
    text-decoration: none !important;
}
footer p.lead {
    font-size: 16px !important;
    color: grey !important;
}
footer .social_media img {
    width: 40px;
    margin: 10px;
}

@media (max-width: 768px) {
    .hide {
        top: 20% !important;
        left: 33%;
        width: 72%;
        height: auto;
        position: absolute !important;
    }
    .text-hide-mobile {
        text-align: left !important;
    }
}
